# App port
PORT = 5000
# Database
MONGOHQ_URL = mongodb://localhost:27017/miniblog
# Session, Cookie and JWT encryption strings
SESSION_SECRET = "reughoshgosuhfihseiuhgfisoegdfohqqnblkwb"
JWT_SECRET = "reug][hoshgosuhfih@_àéjp687gser976&&)l896@"